body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(186, 186, 236) 0%, rgb(243, 175, 175) 100%);
   
}
h1{
    color: purple;
}

.smile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-color: #fffb53;
    border-radius: 50%;
    border: 5px solid #ec360d;
}

.eyes:before,
.eyes:after{
    content: '';
    position: absolute;
    top: 30%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ec360d;
    transition: .5s;
}

.eyes:before{
    left: 25%;
}
.eyes:after{
    right: 25%;
}

.smile:hover .eyes:before,
.smile:hover .eyes:after{
width: 30px;
height: 45px;
}

.lips{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-bottom:10px solid #ec360d;
    border-radius: 0;
    transition: .5s;
}

.lips:hover{
    border-radius: 50%;
}